<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <%- include('./partials/navbar.ejs'); %>
        <div>
            <div class="container">
                <div class="text-center text-dark" style='padding: 0px 0px 80px'>
                    <h1 style='margin-top: 190px'>Донат</h1>
                    <span class='fs-4'>Покупая привилегии, вы соглашаетесь с П.4 <a class = 'text-decoration-none text-primary' href = '/user-agreement'>пользовательского соглашения</a>.</span>
                </div>
                <!-- temp start -->
                <h1 class='text-dark text-center' style='padding: 0 0 30px'>Временные привилегии</h1>
                <div class="row row-cols-1 row-cols-md-4 text-center">
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Вип</h1>
                            <h1 class="card-title pricing-card-title">40₽<small class="text-muted fw-light">/мес</small></h1>
                            <%- include('./partials/donate/vip.ejs'); %>
                                <a href='refill?money=40' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Премиум</h1>
                            <h1 class="card-title pricing-card-title">75₽<small class="text-muted fw-light">/мес</small></h1>
                            <%- include('./partials/donate/premium.ejs'); %>
                                <a href='refill?money=75' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Модер</h1>
                            <h1 class="card-title pricing-card-title">175₽<small class="text-muted fw-light">/мес</small></h1>
                            <%- include('./partials/donate/moder.ejs'); %>
                                <a href='refill?money=175' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Админ</h1>
                            <h1 class="card-title pricing-card-title">250₽<small class="text-muted fw-light">/мес</small></h1>
                            <%- include('./partials/donate/admin.ejs'); %>
                                <a href='refill?money=250' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                </div>
                <!-- temp end -->

                <!-- perm start -->
                <h1 class='text-dark text-center' style='padding: 40px 0 30px'>Постоянные привилегии</h1>
                <div class="row row-cols-2 row-cols-md-4 mb-4 text-center">
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Вип</h1>
                            <h1 class="card-title pricing-card-title">70₽</h1>
                            <%- include('./partials/donate/vip.ejs'); %>
                                <a href='refill?money=70' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Премиум</h1>
                            <h1 class="card-title pricing-card-title">150₽</h1>
                            <%- include('./partials/donate/premium.ejs'); %>
                                <a href='refill?money=150' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Модер</h1>
                            <h1 class="card-title pricing-card-title">300₽</h1>
                            <%- include('./partials/donate/moder.ejs'); %>
                                <a href='refill?money=300' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Админ</h1>
                            <h1 class="card-title pricing-card-title">500₽</h1>
                            <%- include('./partials/donate/admin.ejs'); %>
                                <a href='refill?money=500' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Гл.Админ</h1>
                            <h1 class="card-title pricing-card-title">750₽</h1>
                            <%- include('./partials/donate/gladmin.ejs'); %>
                                <a href='refill?money=750' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                </div>
                <!-- perm end -->

                <!-- other start-->
                <h1 class='text-dark text-center' style='padding: 40px 0 30px'>Другое</h1>
                <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Создание кланов</h1>
                            <h1 class="card-title pricing-card-title">30₽</h1>
                            <%- include('./partials/donate/clan.ejs'); %>
                                <a href='refill?money=30' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Открытие сервера</h1>
                            <h1 class="card-title pricing-card-title">799₽</h1>
                            <%- include('./partials/donate/open-server.ejs'); %>
                                <a href='refill?money=799' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Рулетка</h1>
                            <h1 class="card-title pricing-card-title">25₽</h1>
                            <%- include('./partials/donate/roulette.ejs'); %>
                                <a href='refill?money=25' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                </div>
                <!-- perm end -->
            </div>
        </div>
        <%- include('./partials/footer.ejs'); %>

            <%- include('./partials/body-scripts.ejs'); %>
</body>

</html>