<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <%- include('./partials/navbar.ejs'); %>
        <div>
            <div class="container">
                <div class="text-center text-dark" style='padding: 0px 0px 80px'>
                    <h1 style='margin-top: 190px'>Донат</h1>
                    <span class='fs-4'>Покупая привилегии, вы соглашаетесь с П.4 <a class = 'text-decoration-none text-primary' href = '/user-agreement'>пользовательского соглашения</a>.</span>
                </div>
                <!-- temp start -->
                <h1 class='text-dark text-center' style='padding: 0 0 30px'>Временные привилегии</h1>
                <div class="row row-cols-1 row-cols-md-4 text-center">
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Вип</h1>
                            <!-- <h1 class="card-title pricing-card-title text-decoration-line-through text-danger">60₽<small class="text-muted fw-light">/мес</small></h1> -->
                            <h1 class="card-title pricing-card-title">50₽<small class="text-muted fw-light">/мес</small></h1>
                            <%- include('./partials/donate/vip.ejs'); %>
                                <a href='refill-select?money=50' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                                <!-- <a href='refill-select?money=60' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a> -->
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Премиум</h1>
                            <!-- <h1 class="card-title pricing-card-title text-decoration-line-through text-danger">100₽<small class="text-muted fw-light">/мес</small></h1> -->
                            <h1 class="card-title pricing-card-title">90₽<small class="text-muted fw-light">/мес</small></h1>
                            <%- include('./partials/donate/premium.ejs'); %>
                                <a href='refill-select?money=90' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                                <!-- <a href='refill-select?money=100' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a> -->
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Делюкс</h1>
                            <h1 class="card-title pricing-card-title">135₽</h1>
                            <%- include('./partials/donate/deluxe.ejs'); %>
                                <a href='refill-select?money=135' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Модер</h1>
                            <!-- <h1 class="card-title pricing-card-title text-decoration-line-through text-danger">235₽<small class="text-muted fw-light">/мес</small></h1> -->
                            <h1 class="card-title pricing-card-title">200₽<small class="text-muted fw-light">/мес</small></h1>
                            <%- include('./partials/donate/moder.ejs'); %>
                                <a href='refill-select?money=200' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                                <!-- <a href='refill-select?money=235' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a> -->
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Админ</h1>
                            <!-- <h1 class="card-title pricing-card-title text-decoration-line-through text-danger">350₽<small class="text-muted fw-light">/мес</small></h1> -->
                            <h1 class="card-title pricing-card-title">325₽<small class="text-muted fw-light">/мес</small></h1>
                            <%- include('./partials/donate/admin.ejs'); %>
                                <a href='refill-select?money=325' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                                <!-- <a href='refill-select?money=350' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a> -->
                        </div>
                    </div>
                </div>
                <!-- temp end -->

                <!-- perm start -->
                <h1 class='text-dark text-center' style='padding: 40px 0 30px'>Постоянные привилегии</h1>
                <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Вип</h1>
                            <!-- <h1 class="card-title pricing-card-title text-decoration-line-through text-danger">95₽</h1> -->
                            <h1 class="card-title pricing-card-title">85₽</h1>
                            <%- include('./partials/donate/vip.ejs'); %>
                                <a href='refill-select?money=85' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                                <!-- <a href='refill-select?money=95' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a> -->
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Премиум</h1>
                            <!-- <h1 class="card-title pricing-card-title text-decoration-line-through text-danger">200₽</h1> -->
                            <h1 class="card-title pricing-card-title">175₽</h1>
                            <%- include('./partials/donate/premium.ejs'); %>
                                <a href='refill-select?money=175' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                                <!-- <a href='refill-select?money=200' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a> -->
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Делюкс</h1>
                            <h1 class="card-title pricing-card-title">250₽</h1>
                            <%- include('./partials/donate/deluxe.ejs'); %>
                                <a href='refill-select?money=175' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Модер</h1>
                            <!-- <h1 class="card-title pricing-card-title text-decoration-line-through text-danger">475₽</h1> -->
                            <h1 class="card-title pricing-card-title">375₽</h1>
                            <%- include('./partials/donate/moder.ejs'); %>
                                <a href='refill-select?money=375' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                                <!-- <a href='refill-select?money=475' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a> -->
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Админ</h1>
                            <!-- <h1 class="card-title pricing-card-title text-decoration-line-through text-danger">675₽</h1> -->
                            <h1 class="card-title pricing-card-title">575₽</h1>
                            <%- include('./partials/donate/admin.ejs'); %>
                                <a href='refill-select?money=575' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                                <!-- <a href='refill-select?money=675' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a> -->
                        </div>
                    </div>
                </div>
                <!-- perm end -->

                <!-- other start-->
                <h1 class='text-dark text-center' style='padding: 40px 0 30px'>Другое</h1>
                <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Создание кланов</h1>
                            <!-- <h1 class="card-title pricing-card-title text-decoration-line-through text-danger">40₽</h1> -->
                            <h1 class="card-title pricing-card-title">30₽</h1>
                            <%- include('./partials/donate/clan.ejs'); %>
                                <a href='refill-select?money=30' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                                <!-- <a href='refill-select?money=40' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a> -->
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 400px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 45px;'>
                            <h1 class="text-center text-dark" style='margin: 10px 0 15px;'>Рулетка</h1>
                            <!-- <h1 class="card-title pricing-card-title text-decoration-line-through text-danger">35₽</h1> -->
                            <h1 class="card-title pricing-card-title">25₽</h1>
                            <%- include('./partials/donate/roulette.ejs'); %>
                                <a href='refill-manual?money=25' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a>
                                <!-- <a href='refill-manual?money=35' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Купить</button></a> -->
                        </div>
                    </div>
                </div>
                <!-- perm end -->
            </div>
        </div>
        <%- include('./partials/footer.ejs'); %>

            <%- include('./partials/body-scripts.ejs'); %>
</body>

</html>