<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>

    <main class="form-signin" style = 'height: 78vh;'>
        <div class="container text-center">
            <form style = 'margin-top: 150px'>
                <div class="mx-auto bg-light">
                    <h1 class="text-center text-dark" style = 'margin: 10px 0 35px'>Автодонат</h1>
                    <div class="row row-cols-1 row-cols-md-2 text-center">
                        <%- include('./autodonate/enot.ejs') %>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
    <script type="module" src = "libs/refill-auto.js"></script>

    <%- include('./partials/footer.ejs'); %>

    <%- include('./partials/body-scripts.ejs'); %>
</body>
</html>